# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mistrz\Dropbox\Pwr\Semestr 3\Tech Efektywnego Programowania\Lab\MatrixProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
